---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Passenger from "../assets/passenger-in-a-car.jpg";
import FuelPrices from "../components/FuelPrices.astro";
import Hangar from "../assets/hangar.jpg";
import Airport from "../assets/heritage-field-airport.webp";
import PitcairnFlightAcademyLogo from "../assets/pitcairn-flight-academy-logo.webp";
import PennairLogo from "../assets/pennair-logo.webp";
import Intro from "../components/Intro.astro";
import Header from "../components/Header.astro";
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";

// const response = await fetch(
//   "https://www.iflightplanner.com/API/FuelPrices/PricesForLocation.aspx?ID=FyERFc2d",
// );
// const data = await response.json();
// const [price1, price2, price3] = data.prices;
// const reportDate = data.reportDate;

// const fullServeJetAUnitPrice = price1.unitPrice;
// const selfServe100LLUnitPrice = price2.unitPrice;
// const fullServe100LLUnitPrice = price3.unitPrice;
---

<BaseLayout>
  <Header slot="header" />

  <Intro
    title="Your full service aviation partner"
    description={[
      `Pitcairn Aviation LLC is been the trusted fixed-base operator (FBO) at Heritage Field Airport (KPTW) in Pottstown, PA. Just a short 30-minute flight from Philadelphia, our full-service FBO offers a warm welcome and modern amenities for pilots and aircraft visiting the scenic southeastern Pennsylvania region.`,
      `From efficient fueling and ground handling to well-appointed lounges and hangars, we ensure your stopover is comfortable and hassle-free.`,
    ]}
    cta="Reach Out Today"
    ctaLink="/contact-us#contact-us-form"
  />

  <Section1
    image={Passenger}
    title="The Pitcairn Promise"
    subtitle="Our Experienced Team is Here to Serve"
    content=`From the moment you land, our friendly team of aviation experts is ready
  to make your visit exceptional. In addition to swift fueling and
  marshaling, we offer a wide range of professional services including
  aircraft detailing, concierge arrangements, crew cars, and more. We aim
  to ensure your every need is met with efficiency and a smile.`
    cta="Explore our services"
    ctaLink="/services"
  />

  <Section2
    image={Hangar}
    title="Hangar Rentals"
    subtitle="Looking for a hangar?"
    content=`Pitcairn Aviation provides secure hangar facilities to protect your aircraft from the elements. Our hangars can accommodate aircraft up to [maximum dimensions]. Monthly and yearly rental options are available. If interested, please visit our Hangar Rental form below to submit an inquiry.`
    cta="Rent Hangar Space"
    ctaLink="/hangar-rental-form"
  />

  <Section1
    image={Airport}
    title="Stop by and say hi"
    subtitle="Visit Heritage Field Airport"
    content=`Experience the award-winning service that's made Pitcairn Aviation a
  trusted name in the region. Plan your visit to Heritage Field (KPTW) and
  discover our beautiful facility tucked into the rolling Pennsylvania
  countryside. Our central location and proximity to Philadelphia make us
  an ideal tech stop.`
    cta="Plan Your Visit"
    ctaLink="/plan-your-visit"
  />

  <section class="flex overflow-hidden relativebg-white -z-50">
    <div
      class="flex py-16 flex-col max-w-7xl mx-auto h-full lg:items-center p-5 justify-center gap-10"
    >
      <div class="flex flex-col gap-2 text-center">
        <h2 class="text-5xl uppercase text-light-red">
          Other Companies at Heritage Field
        </h2>
        <h3 class="text-base lg:text-lg">
          Heritage Field Airport is also home to several specialized aviation
          businesses to meet all your needs:
        </h3>
      </div>
      <div
        class="lg:text-black flex flex-col lg:flex-row items-center justify-center gap-10 my-10 fade-up delay-100 duration-700 translate-y-10 opacity-0"
      >
        <a
          href="https://pitcairnflightacademy.com/"
          target="_blank"
          class="h-auto w-1/2 lg:w-1/2 hover:scale-105 duration-300"
        >
          <Image
            src={PitcairnFlightAcademyLogo}
            alt="Pitcairn Flight Academy logo"
          />
        </a>
        <a
          href="http://97.107.141.212:45071/"
          target="_blank"
          class="h-auto w-1/4 lg:w-1/5 hover:scale-105 duration-300"
        >
          <Image src={PennairLogo} alt="Pennair logo" />
        </a>
      </div>
      <ul class="text-center">
        <li>
          <strong>Pitcairn Flight Academy:</strong> Providing top-rated pilot training
          and certifications
        </li>
        <li>
          <strong>PennAir Repair:</strong> Experts in aircraft maintenance and inspections
        </li>
        <li>
          <strong>PennJet Charter Services:</strong> Luxury private charter and aircraft
          management
        </li>
      </ul>
    </div>
  </section>

  <FuelPrices />
</BaseLayout>

<script src="../scripts/animate-on-scroll.js"></script>
