---
import BaseLayout from "../layouts/BaseLayout.astro";
import VisitPitcairn from "../assets/visit-pitcairn-aviation-in-pottstown-pa.jpg";
import FuelPrices from "../components/FuelPrices.astro";
import Intro from "../components/Intro.astro";
import Header2 from "../components/Header2.astro";
import CrewCar from "../assets/crew-car.png";
import DemoCard from "../components/DemoCard.astro";
import CarOptions from "../assets/car-rental-company-logos.webp";
import HangarRentals from "../assets/pitcairn-aviation-hangar-space.jpg";
import HotelsNearby from "../assets/hotels-logos.webp";
import BusinessSpaces from "../assets/pitcairn-aviation-office-space.jpg";
import VisitUs from "../components/VisitUs.astro";
---

<BaseLayout
  title="Plan Your Visit | Pitcairn Aviation LLC"
  description="Plan your visit to Pitcairn Aviation at Heritage Field Airport. Find essential information on airport facilities, ground transportation, nearby accommodations, and local attractions in Pottstown, PA. Experience seamless travel planning with us."
  keywords="plan your visit, Pitcairn Aviation, Heritage Field Airport, airport facilities, ground transportation, accommodations Pottstown, local attractions, Pottstown PA, travel planning, aviation services"
>
  <Header2 slot="header" image={VisitPitcairn}>
    <Fragment slot="title"
      >Plan a Visit to <span class="text-light-red">KPTW</span>
    </Fragment>
  </Header2>

  <Intro
    title="What to expect when visiting Pitcairn Aviation LLC’s FBO"
    description={[
      `Our visitors use the FBO for multiple purposes–allow us to be as flexible as you need us. Explore how Pitcairn Aviation’s FBO can best serve you and your needs upon arrival from crew cars to fueling stations. We welcome any and all requests!`,
    ]}
  />

  <section id="timeline" class="bg-zinc-200 font-normal">
    <h1 class="text-5xl uppercase text-light-red text-center mb-5 px-5">
      The Pitcairn Experience
    </h1>
    <p class="text-center text-lg mb-5 px-5">
      Leverage any combination of our unique services and FBO amenities
    </p>
    <div class="demo-card-wrapper">
      <DemoCard
        title="The Crew Car"
        stepNumber={1}
        image={CrewCar}
        description={[
          `After landing, our friendly line staff will greet you and offer the use of
      one of our courtesy crew cars–perfect for running into town for a bite to
      eat or taking care of any local errands during your stay.`,
        ]}
      />

      <DemoCard
        title="Rental Car Options"
        stepNumber={2}
        image={CarOptions}
        description={[
          `For longer visits, rental cars offer great flexibility. Enterprise Rent-A-Car has a conveniently located rental counter right on the field. We can also arrange delivery of rental vehicles from Avis and Hertz.`,
          `After hours? No problem–simply submit a request through our "Contact Us" form for car rental drop-off and pick-up.`,
        ]}
      />
      <DemoCard
        title="Hangar Rentals"
        stepNumber={3}
        image={HangarRentals}
        description={[
          `Protect your aircraft with our hangar facilities. We offer rental options to meet your storage needs. Our staff will ensure your plane is safely secured in one of our spacious hangars. Tie-down spaces are also available.`,
        ]}
        cta="Hangar Rental Request"
        ctaLink="/hangar-rental-form"
      />
      <DemoCard
        title="Hotels Nearby"
        stepNumber={4}
        image={HotelsNearby}
        description={[
          `After a long flight, relax at one of the nearby hotels just a short drive from the airfield. We are conveniently located near Hampton Inn, Holiday Inn Express, and other hotel brands. Our line staff can assist with reserving a room and arranging transportation.`,
        ]}
      />
      <DemoCard
        title="Business Spaces"
        stepNumber={5}
        image={BusinessSpaces}
        description={[
          `If you need to work on-site, take advantage of our business amenities including conference rooms, workstations, and comfortable lounges. High-speed WiFi and refreshments are complimentary to make your stay more productive and even more comfortable.`,
        ]}
      />
    </div>
    <a href="/contact-us" class="btn-red mx-auto w-fit block mt-10"
      >Contact Us for More</a
    >
  </section>

  <VisitUs />

  <FuelPrices />
</BaseLayout>

<script src="../scripts/animate-on-scroll.js"></script>

<style>
  .demo-card:nth-child(1) {
    order: 1;
  }

  .demo-card:nth-child(2) {
    order: 4;
  }

  .demo-card:nth-child(3) {
    order: 2;
  }

  .demo-card:nth-child(4) {
    order: 5;
  }

  .demo-card:nth-child(5) {
    order: 3;
  }

  .demo-card:nth-child(6) {
    order: 6;
  }

  #timeline {
    padding: 100px 0;
  }

  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
  }
  @media (min-width: 1100px) {
    #timeline .demo-card-wrapper {
      display: flex;
      flex-flow: column wrap;
      width: 1170px;
      height: 1750px;
      margin: 0 auto;
    }
  }
  #timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
  }
  @media (min-width: 1100px) {
    #timeline .demo-card-wrapper::after {
      border-left: 1px solid #bdbdbd;
    }
  }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 30px;
    max-width: 94%;
    z-index: 2;
  }
</style>
