---
const response = await fetch(
  "https://www.iflightplanner.com/API/FuelPrices/PricesForLocation.aspx?ID=FyERFc2d",
);
const data = await response.json();
const [price1, price2, price3] = data.prices;
const reportDate = data.reportDate;

const fullServeJetAUnitPrice = price1.unitPrice;
const selfServe100LLUnitPrice = price2.unitPrice;
const fullServe100LLUnitPrice = price3.unitPrice;

const stats = [
  {
    type: "Self Service",
    value: `$${selfServe100LLUnitPrice}`,
    name: "100 LL",
    color: "green",
  },
  {
    type: "Full Service",
    value: `$${fullServe100LLUnitPrice}`,
    name: "100 LL",
    color: "green",
  },
  {
    type: "Full Service",
    value: `$${fullServeJetAUnitPrice}`,
    name: "Jet A",
    color: "blue",
  },
];

function formatReportDate(timestamp: number) {
  const date = new Date(timestamp * 1000);
  const month = date.getMonth() + 1;
  const day = date.getDate();
  const year = date.getFullYear();
  const hours = date.getHours();
  const minutes = date.getMinutes().toString().padStart(2, "0");
  const seconds = date.getSeconds().toString().padStart(2, "0");

  const formattedDateTime = `${month}/${day}/${year} ${hours}:${minutes}:${seconds} UTC`;
  return formattedDateTime;
}

const formattedDate = formatReportDate(reportDate);
---

<section class="bg-main-black py-10 px-5" id="fuel-prices">
  <div class="max-w-7xl mx-auto flex flex-col gap-2">
    <h2 class="text-white text-4xl uppercase">Fuel Prices</h2>
    <h3 class="text-white text-lg">
      We prioritize keeping our fuel prices competitive for your convenience.
    </h3>
    <div class="mx-auto grid gap-2 md:grid-cols-3 w-full">
      {
        stats.map((stat) => (
          <dl
            class={`fade-up delay-100 duration-700 translate-y-10 opacity-0 flex relative overflow-hidden flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-gradient-to-b from-light-${stat.color} to-main-${stat.color} rounded-xl px-4 py-10 sm:px-6 xl:px-8`}
          >
            <dt class="text-white/5 absolute -bottom-3 -right-2 text-8xl font-extrabold whitespace-nowrap">
              {stat.name}
            </dt>
            <dt class="text-white/80 absolute bottom-2 right-3 text-3xl font-extrabold flex items-baseline gap-2">
              <p>{stat.name}</p>
            </dt>
            <dd class="text-sm font-medium leading-6 text-gray-200">
              {stat.type}
            </dd>
            <dd class="w-full flex-none text-5xl font-medium leading-10 tracking-tight text-white">
              {stat.value}
            </dd>
          </dl>
        ))
      }
    </div>
    <p class="text-gray-400 self-end">Updated as of {formattedDate}</p>
  </div>
</section>
