---
import { Image } from "astro:assets";
const { image, title, subtitle, content, id, cta, ctaLink } = Astro.props;
---

<section class="py-16" id={id}>
  <div class="max-w-7xl mx-auto p-5 flex flex-col lg:flex-row gap-10">
    <div class="flex-1">
      <Image src={image} alt="A description of my image." />
    </div>
    <div class="flex-1 flex flex-col gap-3 pt-3 items-start">
      <h2
        class="text-light-red text-sm font-bold uppercase fade-in duration-500 opacity-0 delay-100"
      >
        {title}
      </h2>
      <p
        class="text-2xl font-semibold fade-in duration-500 opacity-0 delay-200"
      >
        {subtitle}
      </p>
      <p class="text-lg fade-in duration-500 opacity-0 delay-300">
        {content}
      </p>
      {
        cta && (
          <a href={ctaLink} class="btn-red">
            {cta}
          </a>
        )
      }
    </div>
  </div>
</section>
